.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  & > div {
    background: var(--color-primary-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;

    &:hover {
      background: transparent;
      border-color: var(--color-primary-variant);
      cursor: default;
    }

    h3 {
      text-align: center;
      margin-bottom: 2rem;
      color: var(--color-primary);
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

    .details {
      display: flex;
      gap: 1rem;

      .icon {
        margin-top: 6px;
        color: var(--color-primary);
      }
    }
  }
}

// media
@media screen and (max-width: 1024px) {
  .experience {
    grid-template-columns: 1fr;

    & > div {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;
    }

    .content {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .experience {
    gap: 1rem;

    & > div {
      width: 100%;
      padding: 2rem 1rem;
    }
  }
}
