* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

// SCROLL BAR
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  transition: 0.4s;
  line-height: 1.7;
  background-image: url(../images/bg-texture.png);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);

  &:hover {
    color: var(--color-white);
  }
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.text-light {
  color: var(--color-light);
}

// container
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

// section
.section {
  margin-top: 8rem;

  h2,
  h5 {
    text-align: center;
    color: var(--color-light);
  }

  h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
  }
}

// button
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);

  &:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border: transparent;
  }
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

// media
@media screen and (min-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .section {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 600) {
  .container {
    width: var(--container-width-sm);
  }

  .section {
    h2 {
      margin-bottom: 2rem;
    }
  }
}
